@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@100;300;500;700&family=Raleway&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color:#0a437c;
  --second-color:#0e5aa7;
  --second-background:#f5f5f5;
  --red-color:#DD2326;
  --roboto: 'Roboto',sans-serif;
  font-size: 16px;
   --p-1: 10px;
  --p-2: 20px;
  --p-3: 30px;
  --p-5: 50px;
  --p-10: 100px;
}

html,
body {
  overflow-x: hidden;
  font-family: var(--roboto);
}

/*.fdsg{ font-family: var(--raleway);}*/
.main-body{
  background-color:var(--second-background);
}.main-wrapper{
margin: 0px;
padding: 1px !important;
overflow-y: hidden;
}


.header-nav{
  width: 100%;
    height: 137px;
}
/*--------------------nav ----------------------*/


.custom-nav{
background-color:var(--primary-color);

}.css-1bah3pf{
width:100%;
height:auto;}

@media only screen and (min-width: 600px) {
  .nav-div{
  width:90%;
  margin: 0px auto;

}
}

.nav-div a:hover{
border: 1px solid #fff;}
.nav-div-a{
width:20%;
padding-left: 1rem;
padding-right: 1rem;
color: var(--primary-color) !important;
font-weight: 800;
font-size: 1.7rem;
border: 1px solid #000;
background-color: #fff !important;
font-family: var(--roboto);
}.css-ekjjru
{width: 24px;
    height: 24px;
    }
    .nav-link{
      color:#fff !important;
      width: 100% !important;

    }.bg-search-right{
      pointer-events:none;
      background-color:var(--second-background);
      }.bg-search-left{
        background-color:var(--red-color);
        pointer-events:none;
      }.bg-search-left i{color:#000;}
.ul-nav-custom{
float:right !important;}
.d-flex{
  width: 100%;}

.nav-address{
  width: 47%;
  color: #fff;
  text-decoration: none;
  padding-left: 1rem;
padding-right: 1rem;
    padding-top:6px;
    height: 59px;

}.nav-address:hover{  border: 1px solid #fff;
color: #fff;}

.nav-sign-li{
  right:8% !important;
    width:40% !important;
    float: right !important;
    left: unset !important;
}.nav-sign-btn{
background-color:var(--red-color) ;color: #fff;margin-left:33.33%;}
.nav-sign-d12{border-bottom:2px solid var(--second-background);padding-bottom:14px;}
.nav-sign-d12 span{font-size:.8rem;text-align: center;margin-left:36%;}


.nav-sign-d61{border-right:2px solid var(--second-background);}
.nav-sign-li-a li{list-style: none;}
.nav-sign-li-a a{text-decoration: none;}
/*----------------second nav--------------------------*/


.navbar .megamenu{ padding: 1rem; }

/* ============ desktop view ============ */
@media all and (min-width: 992px) {

  .navbar .has-megamenu{position:static!important;}
  .navbar .megamenu{left:0; right:0; width:100%; margin-top:0;  }

} 
/* ============ desktop view .end// ============ */

/* ============ mobile view ============ */
@media(max-width: 991px){
  .navbar.fixed-top .navbar-collapse, .navbar.sticky-top .navbar-collapse{
    overflow-y: auto;
      max-height: 90vh;
      margin-top:10px;
  }
}
/* ============ mobile view .end// ============ */

@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu{ display: none; }
  .navbar .nav-item:hover .nav-link{   }
  .navbar .nav-item:hover .dropdown-menu{ display: block; }
  .navbar .nav-item .dropdown-menu{ margin-top:0; }
}.dropdown-item-head{
display: block;
    width: 100%;
    padding: 0.25rem 1rem;
    clear: both;
    font-weight: 600;
    color: #212529;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    border: 0;}
    .dropdown-item{
    font-weight: 200;
    font-size: .8rem;}

/*all category sub*/


.megasubmenu{ padding:1rem; }

/* ============ desktop view ============ */
@media all and (min-width: 992px) {
    .megasubmenu{ 
        left:100%; top:0; min-height: 100%; min-width:500px;
    }
    
    .dropdown-menu > li:hover .megasubmenu{
        display: block;
    }
}   
/* ============ desktop view .end// ============ */
.menu-ul2{font-size:.8rem;
 border-right: 1px solid #ededed;
border-left: 1px solid #ededed ;
}
.menu-ul2 a{color:black !important;}

.menu-ul3-a1 svg{margin-bottom: 11px;}
.menu-ul3-a2 svg{margin-bottom: 11px;}
.menu-ul3{height: 40px;}
.menu-ul3 p{ margin-bottom: 0rem;}

.menu-ul3-a1{font-size: 12px;
    font-weight: 800;
    color: rgb(227, 135, 15)!important;
    line-height: 15px;
}.menu-ul3-a2{
  font-size: 12px;
    font-weight: 800;
    color: rgb(14, 90, 167)!important;
}
.nav_scnd{
background-color: rgb(255, 255, 255);
transition: all 0.1s ease 0s;
transform: translate(0px, 0px);
z-index:2;
border-style:solid;
border-color:transparent transparent #ededed transparent ;
}
.nav_scnd::before {
  border-color:transparent transparent transparent transparent;
}
.scnd-ul{
  border-right: 1px solid #ededed;
border-left: 1px solid #ededed ;}



/*---------------first-slider-------------------*/
.first-slider{
/*top: 120px;*/
padding-bottom:30px;
    padding-top:30px;}

.carousel-inner{
  border-radius: 8px;
}

/*---------------sefirst bANNER-------------------*/
.first-banner img{
   border-radius:8px;
  
}.banner{ padding-bottom: 30px;
    padding-top: 30px;}


    /*---------lst image------------*/

 .list-img{
/* display: inline-block;*/
background-color:#373737;
border-radius: 104px;
} .list-img-sec{
  padding-bottom: 30px;
    padding-top: 30px
}.list-img-sec a{
text-decoration: none;
color: #000;
text-align: center;
}
.list-img-sec h5{
  padding-top: 5px;
  font-weight: 600;
  font-size: 16px;
}.list-img-a:hover{
  background-color:#000000 !important;
}.head-3{
font-weight:700;
}

/*-eclect----------*/

.electro-sec{
  padding-bottom: 30px;
    padding-top: 30px
    }.head-elecro h1{font-weight:400;font-size:1.6rem;}
    .head-elecro h2{font-weight:800;}
    .electro-sec a{text-decoration: none;
      color: #fff;}

      .electro-main{background-color: #000;
        border-radius:8px;
      }
      .img-electro{
        display: inline-block !important;
        width: 40%;
      }.head-elecro{
        width: 57%;
        display: inline-block !important;
      }


      /*------------off------------*/

      .off-sec{
          padding-bottom: 30px;
    padding-top: 30px
      }.off-sec a{text-decoration: none;color: #fff;}

/*------------checklist-sec--------------*/
.checklist-sec{
  padding-bottom: 30px;
    padding-top: 30px}
    .background-div{
      background-color: #000;
        border-radius:8px;
    } .style-a{text-decoration: none;
      color: #fff;}
      .h-h1{font-weight:400;font-size:1rem;}
    .h-h2{font-weight:800;font-size:1rem;}
    .inline-dispaly{
      display: inline-block;}
      .div_sub{width:49%;}
      .div_sub img{width: 50% !important;}
      .div_inner{width:48%;padding: 13px;}
      .text-align{text-align: center;}


/*=====================footer=======================*/


.footer{
margin: -1px;
height: auto;
background-color:var(--second-color);
font-size: 1.4rem;
line-height: 1.57143;
color: #fff;
}
.footer-top{
text-align: center;
font-weight:800;
margin: 0px auto;
width: 100%;
background-color:var(--primary-color);
padding-top:4px;
height:50px;

}.footer-top a{font-weight:600;
text-decoration: none;
color: #fff;
font-size:16px;
}.social-links{
padding-left: 2.5rem;
}
.social-links a{
text-decoration: none;
color: #fff;
font-size: 16px;
padding: 10px;

}.social-links li{
display: inline-block;
border-radius: 104px;
background-color:var(--primary-color);
}
.app_link{
float:right;
list-style: none
}.app_link h1{
font-size:2rem;
color: #fff;
font-weight: 700;
}.list_item{
display: inline-block;}
.list_item img{display: block;
height: auto;
max-width: 100%;}
.footer-bottom{
padding-top: 42px;
padding-bottom: 27px;
}.footer_list{

list-style: none;
font-size: 1rem;
}.footer_list li > a{
  text-decoration: none;
  font-family:var(--roboto) !important;
  font-weight:200 !important;
  font-size:14px;
  color: #fff;
}.footer_list li > a:hover{

  text-decoration: underline;
  text-transform: inherit;

}

.footer-last{
margin: 0px auto;
    width: 100%;
    height: 100px;
    background-color: #31261d;

}.footer-col{
  text-align:left;
}
.social-h6{
padding-left:40px;
font-size: 14px;
padding-bottom: 10px;}

.footer-brand{padding-bottom: 30px;padding-left: 39px;}

.consumer-logo{padding-left: 39px;
padding-top: 20px;}
.consumer-logo img{width: 44%;}
.head-h6{
  padding-left:2rem;
font-size: 14px;
padding-bottom: 10px;
font-weight:600;
}.footer-col h6{text-align: left;}
.footer-last-sub{padding: 27px;}


.footer-last-sub2{text-align: right;padding: 34px;}
.footer-last-sub2 span{
  width: 100%;
  font-size: 14px;
}



/*------------------------slider card----------------------*/

.slide-img img{width: 70%;}
.sl_div{background-color: #fff;padding: 25px;}
.sl_div a{color: black;text-decoration: none;}
.sl_div a:hover{pointer-events: none;}
.sl_div h6{font-weight: 400;
    font-size: 1.1rem;color:gray;}
    .sl_price{color: gray;}
.sl_bottom{height:40px;
  width: 100%;
  border-left-style: none !important;
  border-right-style: none !important;
  border-bottom-style: none !important;
  width: 115.5%;
    margin: 0px -13px auto;
    padding: 10px;}

    .slide-head p{font-size: 12px;}

    .sl_div:hover{border-color: #009688 !important;}
    .sl_bottom button{float: right;display: inline-block;background-color:var(--red-color) ;}
    .sl_bottom input{float: left;display: inline-block;width: 25%;border: none;margin: 6px auto;}
  .sl_bottom input:focus{
    outline: none;
}



/*hjgsdls=====================================*/
.slick-arrow{background-color: #000 !important;}